{% extends "layout.html" %}

{% block title %}
Blog List
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{post.photo.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{post.user.username}}</h5>
                    <p class="card-text">{{post.text}}</p>
                </div>
                {% if post.user == request.user %}
                <div class="card-footer bg-transparent">
                    <a href="{% url 'blog_edit' post.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'blog_delete' post.id %}" class="btn btn-danger">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}